img, video, embed {
    /* width: 50%; */
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* iframe {
    max-width: 640px;
    max-height: 480px;
    border: none;
}

.video-container {
    margin: auto;
    text-align: center;
} */

.fancybox-image {
    max-width: 100%;
}